<section class="archive">
  <h1>分类：<%= page.category %></h1>
  <ul class="post-list">
    <% page.posts.each(function(post){ %>
      <li class="post-item">
        <a class="post-link" href="<%= url_for(post.path) %>"><%= post.title %></a>
        <time class="post-date" datetime="<%= date_xml(post.date) %>"><%= date(post.date, 'YYYY-MM-DD') %></time>
      </li>
    <% }) %>
  </ul>
</section>
